{% extends 'base.html' %}

{% block content %}

<div class="row">

<div class="content pg">

    <div class="pg-kafka-settings form-inline hidden">
        <div class="pg-setting">
            <label>
                <span>Broker IP</span>
                <input class="form-control kafka-host" type="text" value="10.0.0.5">
            </label>
        </div>
        <div class="pg-setting">
            <label>
                <span>Broker Port</span>
                <input class="form-control kafka-port" type="number" value="9092">
            </label>
        </div>
        <div class="pg-setting">
            <label>
                <span>Zookeeper IP</span>
                <input class="form-control zk-host" type="text" value="localhost">
            </label>
        </div>
        <div class="pg-setting">
            <label>
                <span>Zookeeper Port</span>
                <input class="form-control zk-port" type="number" value="2181">
            </label>
        </div>
    </div>

    <div class="produce-messages form-group hidden">

         <label>
             <span>Topic</span>
             <input class="form-control data-topic" type="text" value="">
         </label>

        <label>
             <span>Data</span>
            <textarea class="form-control producer-data"></textarea>
        </label>

        <button class="btn btn-default">Send</button>

        <div class="notification-area dp-can-load hidden">
            <img class="dp-loading-img" src="/static/img/loading.svg" alt="loading">
            <div class="notification error"></div>
        </div>
    </div>

    <div class="consume-messages">

        <div class="add-consumer-section form-inline">
            <label>
                <span>Topic</span>
                <input class="form-control data-topic" type="text" value="">
            </label>

            <button class="btn btn-default add_consumer_btn">Add</button>

            <div class="notification-area dp-can-load hidden">
                <img class="dp-loading-img" src="/static/img/loading.svg" alt="loading">
                <div class="notification error"></div>
            </div>
        </div>

        <ul class="nav-template template">
            <li>
                <img class="dp-loading-img" src="/static/img/loading.svg" alt="loading">
                <a class="nav-link active data-topic" data-toggle="tab" href=""></a>
                <span>(<span class="msg-count">0</span>)</span>
                    <a class="close-consumer">&times;</a>
            </li>
        </ul>

        <ul class="consumers-nav nav nav-tabs">
        </ul>

        <div class="consumer-tab-template template">
            <div class="consumer tab-pane fade active" id="">
                <div class="topic"></div>
                <div class="messages"></div>
            </div>
        </div>

        <div class="message-template template">
            <div class="message"></div>
        </div>

        <div class="consumers-tab-container tab-content">
        </div>

    </div>


</div>


</div>

{% endblock %}