{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="content">
        <form>
            <div class="test_case_data form-group" id="root" data-io-prop="" data-io-type="object" data-io-level="0">

            <div class="input_area">
                <div>
                    <label>
                        <span>Data to Ingest</span>
                        <textarea class="tc_input test_case_data form-control" data-io-prop="data" data-io-type="json" data-io-level="1" aria-label="input for ingestion data"></textarea>
                    </label>
                </div>

                <label>
                    <span>Consumer Timeout</span>
                    <input class="tc_input test_case_consumer_timeout form-control" type="number" min="2" max="30" value="10"
                       data-io-prop="consumer_timeout" data-io-type="float" data-io-level="1"><span>seconds</span>
                </label>

                <div class="producer_details" data-io-prop="producers" data-io-type="array" data-io-level="1">
                    <div class="producer" data-io-prop="" data-io-type="object" data-io-level="2">
                        <label>
                            <span>Ingestion Topic</span>
                            <select class="tc_input ingestion_topic_select form-control" data-io-prop="kafka_topic" data-io-level="3">
                                <option value="dev.telemetry.ingest" selected>dev.telemetry.ingest</option>
                            </select>
                        </label>
                    </div>
                </div>

            </div>

            <div class="test_case_consumer_topics" data-io-prop="consumers" data-io-type="array" data-io-level="1">

                <table class="tc_table template">
                    <tbody>
                        <tr class="tc_consumer" data-io-prop="" data-io-type="object" data-io-template data-io-level="2">
                            <td>
                                <input class="tc_input tc_consumer_topic form-control" data-io-prop="kafka_topic" data-io-level="3"
                                       aria-label="topic">
                            </td>
                            <td>
                                <input class="tc_input tc_consumer_capture form-control" type="checkbox" data-io-prop="capture"
                                       data-io-level="3" aria-label="capture">
                            </td>
                            <td>
                                <input class="tc_input tc_consumer_expected form-control" type="number" min="0" value="0"
                                       data-io-prop="expected_count" data-io-type="int" data-io-level="3"
                                       aria-label="expected count">
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table class="tc_table table">
                    <tbody data-io-array-container>
                        <tr><th>Topic</th>      <th>Capture</th>        <th>Expected Count</th></tr>
                    </tbody>
                </table>

            </div>

            <div>
                <button class="btn btn-submit-test">Send</button>
            </div>
        </div>
        </form>

        <div class="result_area">

        </div>

        <div class="template">
            <div class="topic_info">
                <div class="topic_details"></div>
                <textarea class="json_input" aria-label="captured topic data"></textarea>
            </div>
        </div>

    </div>
</div>

{% endblock %}